* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  width: 90vw;
  max-width: 500px;
  min-width: 100px;
  height: fit-content;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 1px 1px 20px gray;
  border-radius: 0.5rem;
}

.weather-app {
  margin-right: auto;
}

.weather-search>input {
  width: 100%;
  height: 30px;
  padding: 2px;
  margin: 10px auto 0px 0;
}

.submit-button {
  border: none;
  background-color: rgb(210, 244, 255);
  padding: 5px;
  border-radius: 0.5rem;
}

.city-current {
  width: 100%;
  margin-top: 100px;
}

.city-current>h1 {
  font-size: 50px;
}

.current-weather {
  display: flex;
  flex-direction: column;
}

.current-temp {
  display: flex;
}

.temp {
  font-size: 35px;
}

.celsius {
  font-size: 15px;
  padding-top: 5px;
  color: grey;
}


.current-minmax {
  color: lightgray;
}

.weather--further-info {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.weather-weather {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: auto;
}

.weather--icon {
  font-size: 50px;
}

.current-time {
  margin-top: 20px;
}

.forecast-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 20px gray;
  margin-block: 7px;
  padding-top: 5px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  text-align: center;
}

.forecast--temp {
  margin-bottom: 2px;
}

.forecast--icon {
  height: 40px;
  width: 40px;
}

.host {
  max-width: 90vw;
  margin-top: 5px;
  text-align: center;
}